<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Page affichage ALL</title>
</head>
<body>
    <h1>Liste des enregistrements dans la DB…</h1>

    <a class="btn_generic" href="{% url 'ajout' %}">Ajouter un enregistrement</a>

    <main class="flex_conteneur_all">
        {% for personnalite in liste %}
            <div class="flex_item_all">
                <div class="traitement">
                    <ul>
                        <li><strong>Nom:</strong> {{ personnalite.nom }}</li>
                        <li><strong>Prénom:</strong> {{ personnalite.prenom }}</li>
                        <li><strong>Date de naissance:</strong> {{ personnalite.date_naissance }}</li>
                    </ul>
                </div>
            </div>
        {% empty %}
            <p>Aucune personnalité trouvée.</p> 
        {% endfor %}
    </main>
</body>
</html>
