<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>ajout d'un Livre</title>
</head>
<body>
    <p> vous avez ajouté la pérsonnalité suivante {{Personnalite.nom}} {{Personnalite.id}} </p>
    <ul>
        <li><strong>Nom :</strong> {{ nom }}</li>
        <li><strong>Prénom :</strong> {{ prenom }}</li>
        <li><strong>Date de naissance :</strong> {{ date_naissance }}</li>
    </ul>
    <a href="{% url 'ajout' %}">
        <button type="button">Retour à l'ajout</button>
    <main class="flex_conteneur_all">
        {% for data in liste %}
            <div class="flex_item_all">
                <div class="traitement">
                    {{data|safe}}
                </div>
                <div class="boutons_all">
                </div>
            </div>
        {% endfor %}
    </main>
</body>
</html>