<!DOCTYPE html>
<html lang="fr">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>Confirmation</title>
</head>
<body>
    <h1>{{ message|default:"Confirmation d'enregistrement" }}</h1>
    
    <div class="confirmation-details">
        <h2>Détails enregistrés :</h2>
        <ul>
            <li><strong>Nom :</strong> {{ personnalite.nom }}</li>
            <li><strong>Prénom :</strong> {{ personnalite.prenom }}</li>
            <li><strong>date de naissance :</strong> {{ personnalite.date_naissance }}</li>
            <li><strong>Pays :</strong> {{ personnalite.pays.pays }}</li>

        </ul>
    </div>

    <div class="actions">
        <a href="{% url 'ajout' %}" class="btn">Ajouter autre</a>
        <br>
        <a href="{% url 'afficher_all' %}" class="btn">Voir toutes les enregistrements</a>
    </div>
</body>
</html>